.about-me {
  position: absolute;
  right: 65px;
  top: 200px;
  width: 300px;
}
.about-me-title {
  text-align: center;
  font-size: 20px;
}
.about-me-photo {
  width: 200px;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.about-me-text {

}
